In [19]:
name = 'Alice'
name[::-1]

'ecilA'

In [30]:
name[-1:-5:-1]

'ecil'

In [36]:
x = 5
print('Hello %i %i Bye' % (x,x))

Hello 5 5 Bye

In [46]:
print('Hello {} and {}, bye'.format(name.lower(), name2.upper()))

Hello alice and BOB, bye

In [18]:
name2 = 'Bob'
print('Hello {1}'.format(name, name2))

Hello Bob

In [52]:
L = ['alice','bob']
L.sort()
print(L)
print(name.lower())

['alice', 'bob']
alice

In [62]:
if x==5:
     print(x)
     print(x)

5
5

In [68]:
test = '''te'"'st'''
test2 = """te' "st"""
print(test,test2)

te'"'st te' "st

In [70]:
L = [1,2,3,4]
for num in L:
    print(num**2)

1
4
9
16

In [72]:
print(list(num**2 for num in L))

[1, 4, 9, 16]